table {
  border: 2px solid #C9C9C9;
  width: 100%;
  border-collapse: collapse;
  margin-top: 12px;
}

table td,
table th {
  border: 1px solid #C9C9C9;
  padding: 3px 4px;
}

table tr:nth-child(even) {
  background: #EBEBEB;
}

table thead {
  background: #FFFFFF;
  border-bottom: 4px solid #333333;
}

table thead th {
  font-weight: bold;
  border-left: 2px solid #333333;
}

table thead th:first-child {
  border-left: none;
}
table tfoot {
  font-weight: bold;
  color: #333333;
  border-top: 4px solid #333333;
}
label {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

input {
  font-size: inherit;
  max-width: 100px;
}